.content{
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content h2{
  text-align: center;
  margin-top: 20px;
}

.content .table{
  width: 45%;
}

#chart {
  min-width: 350px;
  width: 45%;
}


