.toolbar{
  background: #14152d;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.toolbar img{
  position: absolute;
  
  left: 15px;
}

.toolbar span{
  color: white;
  text-align: center;
}

.toolbar span b{
  font-weight: 900;
}

.content{
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.content h2{
  text-align: center;
  margin-top: 20px;
}

.content .table{
  width: 45%;
}

#chart {
  min-width: 350px;
  width: 45%;
}


